<?xml version="1.0"?>
<config>
    <modules>
        <Arnelceledonio_Maxmind>
            <version>0.1.0</version>
                <depends>
					<!-- no dependencies -->
                </depends>
        </Arnelceledonio_Maxmind>
    </modules>
    <global>
		<helpers>
			<maxmind>
				<class>Arnelceledonio_Maxmind_Helper</class>
			</maxmind>
		</helpers>
		<models>
		    <maxmind>
				<class>Arnelceledonio_Maxmind_Model</class>				
			</maxmind>
		 </models>
        <resources />
        <extraconfig />
        <blocks>
			<adminhtml>
				<rewrite>
					<sales_order_grid>Arnelceledonio_Maxmind_Block_Sales_Order_Grid</sales_order_grid>
					 <sales_order_view_info>Arnelceledonio_Maxmind_Block_Adminhtml_Sales_Order_Info</sales_order_view_info>		
				</rewrite>
			</adminhtml>
		</blocks>
		<events>
			<checkout_onepage_controller_success_action>					
						<observers>
							<Arnelceledonio_Maxmind_observer>
									<type>singleton</type>
									<class>Arnelceledonio_Maxmind_Model_Observer</class>
									<method>checkOrders</method>
							</Arnelceledonio_Maxmind_observer>
						</observers>
			</checkout_onepage_controller_success_action>
		</events>
		<resources>
		    <maxmind_setup>
					<setup>
						<module>Arnelceledonio_Maxmind</module>						
					</setup>
					<connection>
						<use>core_setup</use>
					</connection>
			</maxmind_setup>
			<maxmind_read>
				<connection>
					<use>core_read</use>
				</connection>
			</maxmind_read>
			<maxmind_write>
				<connection>
					<use>core_write</use>
				</connection>
			</maxmind_write>
		</resources>
	</global>
	<adminhtml>
           <acl>
        <resources>
            <all>
                <title>Allow Everything</title>
            </all>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                   <maxmind  translate="title" module="maxmind">
                                        <title>Maxmind</title>
                                        <sort_order>200</sort_order>
                                    </maxmind>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>
	</adminhtml>
	<frontend>
	<routers>
			<maxmind>
				<use>standard</use>
				<args>
					<module>Arnelceledonio_Maxmind</module>
					<frontName>maxmind</frontName>
					<method>checkorder</method>
				</args>
			</maxmind>
	</routers>
	</frontend>
</config>	